﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="PayrollMaster.master.cs" Inherits="PayrollMaster" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SCOTO  :: Payroll Module</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    
     <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link href="assets/css/style.min.css" rel="stylesheet" />
    <link href="assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="assets/css/theme/default.css" rel="stylesheet" id="theme" />
    
    <link href="assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    
    <link href="assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="assets/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="assets/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
    
    <link href="assets/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
  
    <link href="assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/Custom.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <cc1:ToolkitScriptManager runat="server" EnableScriptGlobalization="true" EnableScriptLocalization="true"
                ID="ScriptManager1" EnablePartialRendering="true" AsyncPostBackTimeout="60000">
            </cc1:ToolkitScriptManager>
    <div>
        <div id="page-container" class=" page-sidebar-fixed page-header-fixed">
    
      <div id="header" class="header navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
              <a href="Dashboard.aspx" class="logo-text"><%--<img src="assets/img/Office.png" style="width:30%;height:30%;" alt="SCOTO LOGO"/>--%></a>
              <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            
            </div>
            <ul class="nav navbar-nav navbar-center">
             <li>
                                 <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">				
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  
                                 
                                  
                                 
                                     <asp:Label ID="lblCompanyName" runat="server" class="user-name" 
                                       Font-Bold="True" Font-Size="16" Font-Names="Aharoni" Text="Human Resource Management" ></asp:Label> 
                                 </a>
                                </li>
             </ul>
             <%--<asp:ImageButton ID="btnModule_Home" runat="server" 
                                    ImageUrl="assets/img/Logos/home.png" onclick="btnModule_Home_Click" Width="7%" ></asp:ImageButton>--%>
            <ul class="nav navbar-nav navbar-right">
              <li runat="server" id="Mnu_BioMetric_Link_ID"><a href="AttendDashBoard.aspx"><img src="assets/img/Attendance/Attn_Icon.png" alt="" style="height: 40px;" /></a></li>
               <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/img/login-bg/man-user.png" alt="" />
                            <span class="hidden-xs">
                            <asp:Label ID="lblComany" runat="server" Text="Label"></asp:Label>
                            <asp:Label ID="lblusername" runat="server" Text="Label"></asp:Label>
                            </span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li role="presentation"><a href="<%= ResolveUrl("ChangePassword.aspx") %>"><i class="fa fa-user"></i>Change Password</a></li>
                            <li><a href="Default.aspx">Log Out</a></li>
                        </ul>
                  </li>
            </ul>
         </div>
         
         <!-- end container-fluid -->
      
        
      </div>
       <!-- end #header -->
       <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
           <!-- begin sidebar scrollbar -->
           <div data-scrollbar="true" data-height="100%">
               <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="assets/img/login-bg/man-user.png" alt="" /></a>
                        </div>
                        <div class="info">
                            <asp:Label ID="lblUserID" runat="server" Text="Label"></asp:Label>
                            
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
           
           <!-- end sidebar scrollbar -->
            <!-- begin sidebar nav -->
                <ul class="nav">
                  <li class="nav-header">Navigation</li>
                  <li id="Menu_PayDashboard" runat="server"><a href="PayrollDashboard.aspx"><i class="fa fa-laptop"></i> <span>Dashboard</span></a></li>
                  <li class="has-sub" id="Menu_PayMaster" runat="server">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-bars"></i>
                            <span>Master</span>
                        </a>
                        <ul class="sub-menu">
                            <li id="Menu_PayMstPF" runat="server"><a href="MstESIPF.aspx"> PF Master</a></li>
                            <li id="Menu_PayMstIncentive" runat="server"><a href="Pay_Incentive_Mst.aspx"> Incentive Master</a></li>
                            <li id="Manu_PayMstBasicDet" runat="server"><a href="Pay_Basic_Det_Mst.aspx">Salary Category</a></li>
                            <%--<li id="Menu_PayMstBonus" runat="server"><a href="Pay_Bonus_Mst.aspx">Bonus Master</a></li>--%>
                            <%--<li id="Menu_PayMstBasicIncText" runat="server"><a href="BasicIncText.aspx">Incentive Category</a></li>--%>
                            <%--<li id="Menu_PayMstEmpTransfer" runat="server"><a href="PayrollEmpTransfer.aspx">Inter Mill Transfer</a></li>--%>

                        </ul>
                    </li>
                    <li class="has-sub" id="Menu_PaySalProc" runat="server">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-bars"></i>
                            <span>Salary Process</span>
                        </a>
                        <ul class="sub-menu">
                            <li id="Menu_Attendance_Upload" runat="server"><a href="AttendanceUpload.aspx">Attendance Upload</a></li>
                           <%-- <li id="Menu_SalaryDedcution" runat="server"><a href="SalaryDeductions.aspx">Salary Deduction</a></li>--%>
                            <li id="Menu_PaySalCalc" runat="server"><a href="SalaryCalcPay.aspx">Salary Calculation</a></li>
                            <li id="Menu_OT_Upload"><a href="OTDownload.aspx">OT Upload</a></li>
                            <li id="Menu_PayWagesUpload" runat="server"><a href="NewWagesUpload.aspx">Increment Upload</a></li>
                            <li id="Menu_SalaryProcessRemoval" runat="server"><a href="SalaryProcessRemoval.aspx">Salary Process Removal</a></li>
                        </ul>
                    </li>
                    <li class="has-sub" id="Menu_PayMstAdvance" runat="server">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-suitcase"></i>
                            <span>Advance</span>
                        </a>
                        <ul class="sub-menu">
                            <li id="Menu_PayAdvance" runat="server"><a href="AdvancePay.aspx">Advance</a></li>
                            <li id="Menu_RePayAdvance" runat="server"><a href="AdvanceRePayment.aspx">Advance Repayment</a></li>
                            <li id="Menu_PayAdvanceReport" runat="server"><a href="RptAdvance.aspx">Advance Report</a></li>
                            <li id="Menu_RePayAgentAdvance" runat="server"><a href="RptAdvaceEmpReport.aspx">Report</a></li>
                        </ul>
                    </li>
                    <li class="has-sub" id="Menu_PayBonusMst" runat="server">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-bars"></i>
                            <span>Bonus</span>
                        </a>
                        <ul class="sub-menu">
                            <%--<li id="Menu_PayBonusProc" runat="server"><a href="BonusProcess.aspx">Bonus Process</a></li>--%>
                            <li id="Menu_PayBonusReport" runat="server"><a href="BonusProcess.aspx">Bonus Report</a></li>
                        </ul>
                    </li>
                     
                   <li class="has-sub" id="Menu_PayReport" runat="server">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-bars"></i>
                            <span>Report</span>
                        </a>
                        <ul class="sub-menu">
                            <li id="MnuRptPayEmpDet" runat="server"><a href="RptPayEmployeeDet.aspx">Employee Details</a></li>
                             <li id="MnuRptPaySalHis" runat="server"><a href="RptPaySalaryHistory.aspx">Salary History</a></li>
                             <%--<li id="MnuRptPayELCL" runat="server"><a href="RptPayELCL.aspx">EL / CL</a></li>--%>
                             <%--<li id="MnuRptPayAttendance" runat="server"><a href="RptPayAttendance.aspx">Attendance</a></li>--%>
                             <%--<li id="MnuRptPayPFESI" runat="server"><a href="RptPayPFESI.aspx">PF / ESI</a></li>--%>
                             <%--<li id="MnuRptPayPFESI_Opt" runat="server"><a href="RptPayPFESI_Opt.aspx">PF / ESI New</a></li>--%>
                             <li id="MnuRptPaySlip" runat="server"><a href="RptSlip.aspx">Pay Slip</a></li>
                             <li id="MnuAgtMess" runat="server"><a href="AgentAndMess.aspx">Agent & Mess </a></li>
                             <li id="MnuRptPaySlip_IF" runat="server"><a href="New_PF_List.aspx">IF List</a></li>
                             <li id="MnuRptunpaidvoucher" runat="server"><a href="RptUnpaidVoucher.aspx">UnPaid Voucher</a></li>
                             <%--<li id="MnuRptPaySettlement" runat="server"><a href="Settlement.aspx">Settlement</a></li>--%>
                        </ul>
                    </li>
                    
                </ul>
                </div>
        </div>
        
         <div class="sidebar-bg"></div>
        
        
       <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        <ContentTemplate>
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
        
           <footer>
            <div class="breadcrumb pull-center">
                <img src="assets/img/Office.png" />
                2017 &copy; Scoto Systec Pvt Ltd.
            </div>

        </footer>
         </ContentTemplate>
   </asp:UpdatePanel>
        </div>
    </div>
    
    <script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
        <script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
        <script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        
        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
        
        <script src="assets/plugins/parsley/dist/parsley.js"></script>
        <script src="assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
        <script src="assets/js/form-wizards.demo.min.js"></script>
        <script src="assets/js/form-wizards-validation.demo.min.js"></script>
        <script src="assets/js/apps.min.js"></script>
        <script src="assets/js/ui-modal-notification.demo.min.js"></script>
        <script src="assets/plugins/bootstrap-daterangepicker/moment.js"></script>
        <script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="assets/plugins/select2/dist/js/select2.min.js"></script>
        
        <script src="assets/js/form-plugins.demo.min.js"></script>
        <script src="assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>  
        <script src="assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
        <script src="assets/plugins/select2/js/select2.min.js"></script> 
         <script src="assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
         <script src="assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
        <script src="assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
        <script src="assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
        <script src="assets/js/table-manage-default.demo.min.js"></script>
       <script>
           $(document).ready(function() {
           App.init();
           FormWizard.init();
           //FormWizardValidation.init();
           $('.select2').select2();
           $('.datepicker').datepicker({
               format: "dd/mm/yyyy",
               autoclose: true
           });

       });
       function SaveMsgAlert(msg) {
           swal(msg);
       }
	</script>
    </form>
</body>
</html>